@use './assets/styles/variables.scss' as v;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #fff;
  background-color: v.$color-black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {  
  padding: 0.6em 1.2em;
  cursor: pointer;  
  background-color: v.$color-red;
  color: v.$color-white;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: none;
  outline: none;
}

button:hover {
  border-color: #646cff;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: v.$color-red;
  }
}
