@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap';

$color-red: #f22735;
$color-hover: #d9202f;
$color-white: #fff;
$color-black: #000;
$color-grey: #727174;
$color-lightgray: #e7e8e9;
$color-border: #ccc;
$color-placeholder: #999;
$color-disabled: #f5f5f5;
$color-selected: #e0e0e0;
$color-text: #504e4a;
$font: 'Montserrat', sans-serif;
$color-link: #535bf2;
$color-link-hover: #535bf2;
